@import "./base.css";
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
    --spacing-content-max-width: 1440px;
    --breakpoint-mobile: 720px;
    --radius-corner: 8px;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}
