# Make sure project name is dirname safe and does not intersect
# with existing projects
export PROJECT_NAME="vue-tsoa-template"
export SERVER_NAME="example.com"
# This should be the same as API_PORT in your backend
export APP_PORT=8080
