[Unit]
Description=Backend service api
# change above based on your app
After=network-online.target
Wants=network-online.target

[Service]
Environment=NODE_ENV=production
ExecStart=/usr/bin/node {{BACKEND_TARGET}}
# Might need to change the path of node here if you need to run
# a specific version
KillMode=process
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
